.custom-ant-layout-content { 
.content-container {
.member-content-container {
    width: 1100px;
    min-height: 600px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    margin: 4px 0;
    padding: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

    
    
}
}
}
