.custom-bg-img-style-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-bg-img-style-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-ant-layout-header {
.header-container {
.common-header-content-container {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .dropdown-text-team {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #71a7ce;

        .anticon-caret-down {
            font-size: 12px;
            position: relative;
            top: -5px;
            left: 5px;
            
        }
    }
}
}
}

.dropdown-menu-team {
    .ant-dropdown-menu-item {
        font-size: 16px;

        a {
            padding: 4px 16px;
            color: #71a7ce;
        }
    }

    .team-change-divider {
        margin: 10px 0 10px 60px;
    }

    .ant-dropdown-menu-item:hover a {
        color: #108ee9;
    }

    .ant-dropdown-menu-item-group-title {
        font-size: 14px;
        color: #999;
        padding-left: 4px;
        margin-top: -21px;
    }

    .team-manager-and-add {
        font-weight: 300;
    }
}

