.icon-label-container {
    width: 100%;
    height: 12px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    display: block;

    .ant-tag {
        height: 12px;
        line-height: 12px;
        border-radius: 10px;
        background-color: #e9e9e9;
        font-size: 6px;
        color: #666;
        padding: 0 4px;
        margin: 0 0 0 4px;
        border: 0;
        -webkit-text-size-adjust: 9px;
    }

    .ant-tag:nth-child(1) {
        margin-left: 0;
    }
}

.custom-ant-overlay-hint-label {
    background-color: #F7F7F7;
    box-shadow: 1px 0 10px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    padding: 0;

    .ant-tooltip-arrow {
        display: none;
    }

    .ant-tooltip-inner {
        background-color: #F7F7F7;
        padding: 4px 10px;

        .ant-tag {
            height: 20px;
            line-height: 20px;
            border-radius: 25px;
            background-color: #e9e9e9;
            font-size: 12px;
            color: #666;
            padding: 0 4px;
            margin: 4px 4px 4px 0;
            border: 0;
        }
    }
}